.btn-eliminar {
    background: #92c7eb;
    background-image: url(a.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 15px;
    width: 15px;
    border-radius: 900px;
    height: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-eliminar:hover {
    width: 15px;
    height: 15px;
}

.btn-editar {
    background: #92c7eb;
    background-image: url(editar.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 15px;
    width: 15px;
    border-radius: 900px;
    height: 15px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-editar:hover {
    width: 15px;
    height: 15px;
}